@{
    ViewData["Title"] = "MF - My Finance";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao MF.</h1>
    <p>Desenvolvido por <a href="https://github.com/leonardorlopes">Leo</a>.</p>
</div>
